<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo_list.name %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>

<hr>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Closed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.closed %></td>
        <td>
          <%= link_to 'Close', '#', class: 'close_task', data: { id: task.id } unless task.closed? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
